{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
<header, src='css/bootstrap.min.css'>
   {% load static %}
    <!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
    <!-- В дальнейшем тут будет создано полноценное меню -->
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href={% url 'posts:index' %}>
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <!-- Тег span используется для добавления стилей отдельным фрагментам текста -->
          <span style="color:red">Ya</span>tube</a>
        </a>
      </div>
    </nav>
  </header>
{% endblock %}